---
layout: page
sitemap:
    priority: 0.7
    lastmod: 2017-11-02
    changefreq: weekly
asset-location: 'portfolio-assets'
---
<link type="text/css" rel="stylesheet" href={{ "/assets/lightslider/css/lightslider.min.css" | absolute_url }} /> 
<link type="text/css" rel="stylesheet" href={{ "/assets/lightgallery/css/lightgallery.min.css" | absolute_url }} /> 
<script type="text/javascript">
$(document).ready(function() {
  $(".imageGallery").each(function() {
    $(this).lightSlider({
      item:5,
      loop:true,
      slideMargin:0,
      enableDrag: false,
      currentPagerPosition:'left',
      onSliderLoad: function(el) {
        el.lightGallery({
          selector: '.imageGallery .lslide',
          height: '800px',
          download: false,
          counter: false
        });
      }
    });
  });
});
</script>
{% assign sorted_projects =  site.projects | sort: 'order' | reverse %}
{% for project in sorted_projects %}
  <h3>{{ project.title }}</h3>
  {{ project.content }}
  {% assign project-assets = "/" | append: page.asset-location | append: "/" | append: project.name %}
  {% for video in project.videos %}
    {% assign vid-path =  project-assets | append: "/" | append: video.file  %}
    <div style="display:none;" id="{{ video.key }}">
        <video class="lg-video-object lg-html5" preload="none" controls loop>
            <source src={{ vid-path }} type="video/mp4">
             Your browser does not support HTML5 video.
        </video>
    </div>
  {% endfor %}
  <ul class="imageGallery">
    {% for video in project.videos %}
      {% assign poster-path =  project-assets | append: "/" | append: video.poster  %}
      <li data-html="#{{ video.key }}">
        <img src="{{ poster-path }}" alt="" style="width: 100%" />
      </li>
    {% endfor %}
    {% for image in project.images %}
      {% assign img-path =  project-assets | append: "/" | append: image  %}
      <li data-src="{{ img-path }}">
        <img src="{{ img-path }}" alt="" style="width: 100%" />
      </li>
    {% endfor %}
  </ul>
  <br>
{% endfor %}
